@import url('https://fonts.googleapis.com/css2?ffamily=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@400;900&display=swap');

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Lora', serif;
  background-image: linear-gradient(to bottom right, #72db89, #186414);
}